#navitem {
    background-color: #990000;
}
#navitem:hover {
    background-color: #eb34d2;
    transition-delay: .4s;
    transition-duration: .7s;
    animation-name: flip;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.collapse {
    color: #fff;
    margin: 7px;
}
li:hover {
    color: #fff;
}
