@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">

    <h2 class="abttext mt-1 ">About Us</h2>
    <div class="row container mx-auto ">
        <div class="col-sm-6 adiv">
            <!--<img style="width:100%;" src="~/Content/img/44.jpg" />-->
            <h1>"YOUR HEALTH IS YOUR WORTH SO BE CAREFULL ABOUT YOUR HEALTH"</h1>

            <div class="container ">
                <p>
                    "Common mental health disorders include depression,
                    anxiety disorders, bipolar disorder, schizophrenia,
                    and post-traumatic stress disorder (PTSD).
                    Symptoms vary depending on the disorder but
                    may include persistent sadness, feelings of
                    hopelessness, excessive worry or fear, mood
                    swings, hallucinations, and difficulty concentrating."
                    @*It's important to note that mental health exists on a
                    continuum, with varying degrees of wellness and 
                    illness. Just as physical health requires attention 
                    and care, maintaining good mental health involves 
                    practicing self-care, seeking support when needed, 
                    and addressing mental health concerns early.*@
                </p>
            </div>

        </div>
        <div class="col-sm-6">
            <!--<img style="width:100%;" src="~/Content/img/44.jpg" />-->
            <div class="adiv1">
                <img style="width:100%; border-radius:20px" src="~/Content/img/MS11.jpg" />
            </div>
            <div class="adiv2">
                <div class="row">
                    <div class="col-sm-5 adiv3">
                        4.2<br />
                        Years Experience
                    </div>
                    <div class="col-sm-5 adiv3 ">
                        30k+<br />
                        Service Provided
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-5 adiv3">
                        1200+<br />
                        Positive Reviews
                    </div>
                    <div class="col-sm-5 adiv3">
                        7k+<br />
                        Trusted Patient
                    </div>

                </div>

            </div>
        </div>

    </div>



</main>