
@{
    ViewBag.Title = "Blogs";
}

<section>
    <div  style="text-align:justify" class="container mt-3 mb-2 blog-item2">
        Mental health professionals use a variety of
        instruments to assess mental health and wellbeing.
        Common purposes for psychological testing include:
        screening for the presence or absence of common mental
        health conditions; making a formal diagnosis of a mental
        health condition; assessment of changes in symptom severity;
        and monitoring client outcomes across the course of therapy.
        Brief psychological measures can be used to ‘screen’ individuals
        for a range of mental health conditions. Screening measures
        are often questionnaires completed by clients. Screening tends
        are quick to administer but results are only indicative: if a
        positive result is found on a screening test then the screening
        test can be followed up by a more definitive test.
    </div>
</section>

<section>
    <div class="row mx-0 blog-item22">
        <div class="col">
            <div style="background-color:antiquewhite;border-radius:10px;box-shadow:0px 0px 10px 0px; text-align:justify;" id="blog" class="col  blog-item blog-item-change">

                <div class="d-flex justify-content-between">
                    <h3 class="ms-2">Anxiety</h3>
                    <div id="blog1" class=" mt-2 ">
                        <i class="fa-solid fa-angle-down "></i>
                    </div>
                    </div>

                <p id="trial-item" class="mx-1">
                    Anxiety is a normal human emotion characterized by
                    feelings of worry, nervousness, or unease about a
                    perceived threat or uncertain outcome. It's a natural
                    response to stress and can be helpful in certain situations
                    by prompting us to take action or avoid danger. However,
                    when anxiety becomes excessive, uncontrollable, or
                    disproportionate to the situation, it can interfere
                    with daily life and lead to significant distress.

                    Anxiety can manifest in various forms, including
                    generalized anxiety disorder (GAD), social anxiety
                    disorder, panic disorder, specific phobias, and others.
                    Anxiety is a common and treatable mental health condition,
                    and seeking help from mental health professionals is important for
                    individuals experiencing significant anxiety. With appropriate 
                    support and treatment, many people with anxiety disorders can
                    lead fulfilling and productive lives.
                </p>
               
                <script src="~/Content/JavaScript/Blogs_Accordion.js"></script>
            </div>
        </div> 

        <div class="col">
            <div style="background-color:antiquewhite;text-align:justify;border-radius:10px;box-shadow:0px 0px 10px 0px;" id="blog-item" class="col blog-item blog-item-change1">
                <div class="d-flex justify-content-between">
                    <h3 class="ms-2">Anorexia</h3>
                    <div id="blog-item-1" class=" mt-2">
                        <i class="fa-solid fa-angle-down "></i>
                    </div>
                </div>
                <p id="para-accor" class="mb-2 mx-1 ">
                    Anorexia nervosa, often referred to simply as anorexia,
                    is a serious and potentially life-threatening eating
                    disorder characterized by an extreme fear of gaining
                    weight and a distorted body image. Individuals with anorexia
                    typically restrict their food intake severely, often to the
                    point of starvation, in an attempt to achieve and
                    maintain an abnormally low body weight.<br />
                    Treatment for anorexia nervosa typically involves
                    a multidisciplinary approach, including medical 
                    management, nutritional counseling, psychotherapy 
                    (such as cognitive-behavioral therapy), and family 
                    therapy. In severe cases, hospitalization or residential 
                    treatment may be necessary to address medical complications 
                    and provide intensive support for recovery.
                </p>
            </div>
            <script src="~/Content/JavaScript/Accordion1.js"></script>
        </div>
    </div>



</section>

<section>
    <div class="row mx-0 mt-3 blog-item22">
        <div class="w-50">
            <div style="background-color:antiquewhite;border-radius:10px;box-shadow:0px 0px 10px 0px; text-align:justify;" id="accorDion3" class="col  blog-item">

                <div class="d-flex justify-content-between">
                    <h3 class="ms-2">Assertiveness</h3>
                    <div id="accorDion4" class=" mt-2 ">
                        <i class="fa-solid fa-angle-down "></i>
                    </div>
                </div>

                <p id="para-accor1" class="mx-1">
                    Assertiveness is considered a healthy communication
                    style that can enhance relationships, build self-confidence,
                    and reduce stress. It differs from passivity (where one
                    may fail to express their needs or opinions) and aggression
                    (where one's needs or opinions are expressed in a hostile
                    or disrespectful manner).

                    There are no diseases associated with assertiveness.
                    However, difficulties with assertiveness can contribute
                    to interpersonal problems, low self-esteem, and stress.
                    Fortunately, assertiveness skills can be learned and
                    developed through practice, communication training, and
                    therapy if needed.Assertiveness refers to the ability 
                    to express one's thoughts, feelings, and needs in a direct,
                    honest, and respectful manner
                    and feelings of others.
                </p>

                <script src="~/Content/JavaScript/Accordion2.js"></script>
            </div>
        </div>

        <div class="col">
            <div style="background-color:antiquewhite;text-align:justify;border-radius:10px;box-shadow:0px 0px 10px 0px;" id="accorDion5" class="col blog-item ">
                <div class="d-flex justify-content-between">
                    <h3 class="ms-2">Audiology</h3>
                    <div id="accorDion6" class=" mt-2">
                        <i class="fa-solid fa-angle-down "></i>
                    </div>
                </div>
                <p id="para-accor2" class="mb-2 mx-1 ">
                    Audiologists use a variety of diagnostic tests
                    and techniques, such as audiometry, tympanometry,
                    and balance assessments, to evaluate and diagnose
                    these conditions. Treatment options may include hearing
                    aids, assistive listening devices, vestibular
                    rehabilitation therapy, counseling, and medical
                    interventions (e.g., surgery or medication,
                    depending on the underlying cause). Audiologists
                    also play a role in preventive care, providing
                    hearing conservation education and fitting custom
                    hearing protection devices for individuals exposed
                    to noise hazards. It primarily focuses on evaluating
                    and managing conditions related to the auditory system, 
                    including the ears and auditory nerves.
                </p>
            </div>
            <script src="~/Content/JavaScript/Accordion3.js"></script>
        </div>
    </div>



</section>
