
@{
    ViewBag.Title = "LivedExperience";
}

<h2 class="live-item-1">Our Happiest Patient sharing their lived experience with us</h2>
<hr />
<section>
    <div class="row text-center">
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
    </div>

    <div class="row text-center mt-3">
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
    </div>

    <div class="row text-center mt-3">
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
        <div class="col-sm live-item-2 mt-2">
            <h3>Tanmoy Das</h3>
            <hr />
            <p>
                Examine the quality of mental health care
                services available, including the qualifications
                and training of mental health professionals,
                the effectiveness of treatments offered,
                and the presence of evidence-based practices.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container live-item-3">
        <div class="row mx-2">
            <span class="mt-2">Name</span>
            <input type="text" class="form-control" />
        </div>
        <div class="row mx-2 mt-2">
            <span>Share Your Experience[Description]</span>
            <textarea class="form-control" rows="5"></textarea>
        </div>
        <div class="d-grid mt-2 pb-3 mx-1">
            <button class="btn btn-primary" type="button">Submit</button>
        </div>
    </div>

    @Html.ActionLink("<<Back to Home>>", "Index", "Home", new { area = "" }, new { @class = "text-decoration-none " })
</section>