
@{
    ViewBag.Title = "MentalTips";
}
<body style="background-image: linear-gradient(to bottom right, #7D01A1, #7D06AF, #6600cc, #0039e6); ">
    <div class="Head-img mt-2">
        <img style="border-radius:10px;" src="~/Content/img/M2.png" class="d-block w-100" alt="Image">
    </div>

    <div class="card my-2  body-design">
        <div class="card-body">
            <h4 style="text-align: center;" class="card-title tit-design"><b>What is Mental Health?</b></h4>
            <p style="text-align:center;" class="card-text content">
                Mental health is a widely discussed concept, these days. You might notice discussions about mental health online, in conversation, on your favorite show, or any number of other places.

                But widespread, frequent use of any term can lead the meaning to become blurred, if not misinterpreted entirely. So, if you come across the term often but still have some uncertainty around exactly what “mental health” refers to, you’re definitely not alone.

            </p>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-sm-6 mb-2">
            <div class="card body-design">
                <div class="card-body big-design">
                    <h5 class="card-title tit-design"><b>According to the World Health Organization (WHO)Trusted Source:</b></h5>
                    <p class="card-text content">

                        “Mental health is a state of mental well-being that enables people to cope with the stresses of life, realize their abilities, learn well and work well, and contribute to their community.”

                        The WHO states that mental health is Peak mental health is not only about managing active conditions but also looking after ongoing wellness and happiness.

                        It also emphasizes that preserving and restoring mental health is crucial individually and at a community and society level.

                        In 2020, an estimated 14.2 million adultsTrusted Source in the U.S., or about 5.6%, had a serious psychological condition, according to the National Institute of Mental Health (NIMH).
                        According to a National Mental Health survey (2018), approximately 150 million people in India need care for their mental health conditions. According to estimates, there are roughly 5,500 psychiatrists and 26,000 hospital beds for people with mental health conditions, in India. Roughly, that translates into 0.75 psychiatrists per 100,000 population.

                        West Bengal has a meagre 2000 beds in the state mental hospitals for over 1.25 crore of people with mental health conditions. There are approximately 450 psychiatrists catering to the needs of the population; roughly amounting to 1 psychiatrist for every 27,000 'patients'.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card body-des">
                <div class="card-body">
                    <h5 class="card-title tit-design"><b>What makes mental health so important?</b></h5>
                    <p class="card-text content">
                        Mental health helps determine how you handle stress, relate to others, and make choices, explains Alison Seponara, a licensed professional counselor and author of the book “The Anxiety Healer’s Guide.”

                        Seponara goes on to say that caring for your mental health can lead to:
                    </p>
                    <ol class="content">
                        <li>improved mood</li>
                        <li>reduced anxiety</li>
                        <li>clearer thinking</li>
                        <li>deeper relationships</li>
                        <li>improved self-esteem and confidence</li>
                        <li>Nurturing your mental health can also help you manage health conditions that are worsened by stress, like heart disease, says Seponara.</li>
                    </ol>
                    <p class="card-text content">
                        Your mental health can impact everything about your life, Adeeyo says, including the ways you view and move through the world and your ability to handle the things life throws at you.

                        That’s why building habits for better mental health can make a big difference in your day-to-day life.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 body-design">
        <div class="card-body">
            <center>
                <h5 class="card-title tit-design"><b>How can I improve my mental health?</b></h5>
                <p class=" content">There are many different things you can do to improve your mental health, including:</p>
            </center>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-sm-6 mb-2">
            <div class="card body-design">
                <div class="card-body big-design">
                    <h5 class="card-title tit-design"><b>1. Get restful sleep</b></h5>
                    <p class="card-text content">
                        Sleep isn’t just a nonnegotiable for physical health. It also plays an essential role in mental health.

                        One 2021 studyTrusted Source included data from 273,695 adults in the United States. The researchers found that people who averaged 6 hours of sleep or less per night were about 2.5 times more likely to report frequent mental distress than those who averaged more than 6 hours of sleep.

                        The quality of your sleep matters, too: Disrupted sleep can contribute to mental health symptoms.

                        To get enough high quality sleep, try starting with these habits:
                    </p>
                    <ol class="content">
                        <li>Avoid caffeine after 3 p.m.</li>
                        <li>Try to wake up and go to sleep at the same time every day.</li>
                        <li>Make your bedroom into a quiet, relaxing, clutter-free space.</li>
                        <li>Healthy sleep habits can be harder to build on your own if you have a sleep disorder.</li>
                    </ol>
                    <p class="card-text content">
                        Healthy sleep habits can be harder to build on your own if you have a sleep disorder.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card body-des">
                <div class="card-body">
                    <h5 class="card-title tit-design"><b>2. Cut back on social media</b></h5>
                    <p class="card-text content">
                        “Constantly consuming information about other people’s lives may cause someone to compare themselves and promote feelings of low self-worth, which increases feelings of anxiety and depression,” says Adeeyo.
                        To spend less time on social media, try to:
                    </p>
                    <ol class="content">
                        <li>keep your phone in a drawer or outside your bedroom while sleeping.</li>
                        <li>make a list of alternate, more meaningful activities to replace your usual scrolling sessions.</li>
                        <li>turn off notifications or delete social apps from your phone.</li>
                    </ol>
                    <p class="card-text content">
                        Talking to someone you trust – whether a friend, a family member, or a colleague – can help. You may feel better if you are able to openly share what you are going through with someone who cares about you. If you live in an area where face-to-face interactions are limited, you can still stay connected with your loved ones through a video call, phone call or messaging app.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-6 mb-2">
            <div class="card body-des">
                <div class="card-body">
                    <h5 class="card-title tit-design"><b> 3. Strengthen your relationships</b></h5>
                    <p class="card-text  content">
                        Humans are social creatures, and strong relationships can have a positive influence on your mental health in various ways.

                        Friendships, for example, can:
                    </p>
                    <ol class="content">
                        <li>ease feelings of loneliness</li>
                        <li>make it easier to get emotional support</li>
                        <li>add meaning to your life</li>
                    </ol>
                    <p class="card-text content">
                        You have plenty of options for cultivating positive connections and nurturing your friendships:
                        <ol class="content">
                            <li>Keep in touch by checking in regularly, even with just a quick text or funny meme.</li>
                            <li>Meet up for a morning walk or breakfast.</li>
                            <li>Call for a short chat during your lunch break.</li>
                            <li>Call for a short chat during your lunch break.</li>
                        </ol>
                    </p>
                    <p class="card-text content">
                        Talking to someone you trust – whether a friend, a family member, or a colleague can help. You may feel better if you are able to openly share what you are going through with someone who cares about you. If you live in an area where face-to-face interactions are limited, you can still stay connected with your loved ones through a video call, phone call or messaging app.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card body-design">
                <div class="card-body big-design">
                    <h5 class="card-title tit-design"><b>4. Move your body on your own terms</b></h5>
                    <p class="card-text content">
                        Exercise offers a range of mental health benefits, including:
                    </p>
                    <ol class="content">
                        <li>relieving stress</li>
                        <li>lifting mood</li>
                        <li>helping you fall asleep faster and sleep longer</li>
                        <li>helping you manage symptoms of depression and anxiety conditions</li>
                        <li>relieving stress</li>
                        <li>Movement can involve something different for every person, and it doesn’t have to mean going to the gym — unless you genuinely want to. Instead, make movement enjoyable for you by opting for physical activities that work best for your body, health, and preferences.</li>
                    </ol>
                    <p class="card-text content">
                        To get started, experiment with a range of physical activities and keep doing the ones that resonate with you.

                        Enjoyable movement could include:
                    </p>

                    <ol class="content">
                        <li>joining a running or walking club</li>
                        <li>taking a slower-paced restorative yoga class</li>
                        <li>gardening or doing other work in your backyard</li>
                        <li>a weekend family hike or walk along the beach</li>
                    </ol>
                    <p class="card-text content">
                        In other words, you don’t have to do a vigorous workout to support mental wellness.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row my-2">
        <div class="col-sm-6 mb-2">
            <div class="card body-des">
                <div class="card-body">
                    <h5 class="card-title tit-design"> <b> 5. Savor nutrient-rich foods</b> </h5>
                    <p class="card-text content">
                        Certain foods can also affect your mental health. To support improved mental health, try expanding your current diet to include foods packed with mood-boosting nutrients like:
                    </p>
                    <ol class=" content">
                        <li>berries</li>
                        <li>bananas</li>
                        <li>bananas</li>
                        <li>whole grains</li>
                        <li>fatty fish, like salmon</li>
                    </ol>
                    <p class="card-text content">
                        It can also help to simply make sure you fuel your body every day — eating anything is better than eating nothing.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card body-design">
                <div class="card-body big-design">
                    <h5 class="card-title tit-design"><b>*Pro Tip</b></h5>
                    <p class="card-text content">
                        As you explore new behaviors and begin incorporating them into your routine, aim to frame these changes as self-kindness, not self-punishment. Maintaining a gentle, kind attitude toward yourself can do a lot more to improve your mental health and overall outlook than criticism and negative self-talk.
                        “Work on your mental health from a place of care,” Davis recommends. Not sure where to start? You’ll find 8 strategies to promote improved mental health below, along with some guidance on seeking professional support.
                        As you explore new behaviors and begin incorporating them into your routine, aim to frame these changes as self-kindness, not self-punishment. Maintaining a gentle, kind attitude toward yourself can do a lot more to improve your mental health and overall outlook than criticism and negative self-talk.
                        “Work on your mental health from a place of care,” Davis recommends.
                    </p>

                </div>
            </div>
        </div>
    </div>

</body>

<style>
    .body-design {
        background-color: transparent;
        border: 1px solid #fff;
        text-align: justify;
    }

    .body-des {
        background-color: transparent;
        border: none;
        text-align: justify;
    }

    .tit-design {
        text-shadow: 1px 1px 5px #b300b3;
        color: yellow;
    }

    .content {
        color: #fff;
    }

    .big-design {
        box-shadow: 3px 2px 3px 2px black;
    }
    
</style>


