
@{
    ViewBag.Title = "MissionVision";
}

<div class=" mission">
    <h2>Our Mission & Vision</h2>
</div>
<section >
    <div class="mission-container">
        <aside class="mission1">
            Short Statement About Our Mission and Vision
            <hr />
            <p  style="font-size:15px;color:black; text-align:justify;padding:0px 5px 0px 5px">
                Mental health encompasses the intricate balance 
                of emotional, psychological, and social well-being 
                in individuals. It influences how we think, feel,
                and behave, shaping our interactions with others 
                and our ability to cope with life's challenges. 
                Prioritizing mental health involves recognizing
                the importance of seeking support when needed, 
                practicing self-care, and fostering resilience.
                Through education, awareness, and access to 
                quality care, we can break down barriers, reduce
                stigma, and create environments that promote 
                mental wellness for all. Investing in mental 
                health is not just about addressing illness but
                also about nurturing flourishing individuals and
                communities.
            </p>
        </aside>
        <div class="row m-auto w-50">
            <div class="col-sm text-center mission3 mx-2 ">
                <img class="img-fluid" style="width:180px; " src="~/Content/img/Log.png" />
                <h3>Mission</h3>
                <p>
                    "To promote mental wellness, advocate
                    for mental health equity, and empower
                    individuals and communities to thrive
                    through education, support, and access
                    to quality care.

                    This mission emphasizes the importance of
                    mental wellness, addresses disparities in
                    mental health care, and emphasizes empowerment
                    and support for individuals and communities."
                </p>
            </div>
            <div class="col-sm text-center mission3 mx-2">
                <img class="img-fluid" style="width: 180px; " src="~/Content/img/Log.png" />
                <h3>Vision</h3>
                <p>
                    "A world where mental health is valued,
                    understood, and prioritized, where
                    all individuals have access to
                    comprehensive mental health care,
                    and where stigma and discrimination
                    against mental illness are eliminated."
                </p>
            </div>

        </div>

    </div>
  
</section>

<section>
    <div class="mission4 d-flex">
        <div class="row  m-auto justify-content-center">
            <div class="col-sm mission5">
                <img class="img-fluid mission-img" style="width:100%; aspect-ratio:2.5/1.5" src="~/Content/img/MS13.jpeg" />
            </div>
            <div class="col-sm mission5">
                <img class="img-fluid mission-img" style="width: 100%; aspect-ratio: 2.5/1.5" src="~/Content/img/MS8.jpeg" />
            </div>
            <div class="col-sm mission5">
                <img class="img-fluid mission-img" style="width: 100%; aspect-ratio: 2.5/1.5" src="~/Content/img/MS11.jpg" />
            </div>
            <div class="col-sm mission5">
                <img class="img-fluid mission-img" style="width: 100%; aspect-ratio: 2.5/1.5" src="~/Content/img/MS7.jpeg" />
            </div>

        </div>
    </div>
</section>
