
@{
    ViewBag.Title = "Terms";
}
<div class="TC_content container mt-3">

    <div class="TC-Header">
        <h2 class="tc-main-heading ">MindShadow's Terms & Conditions</h2>
    </div>

    <div class="mt-4">
        <h5 class="tc-heading">*Terms and Conditions:</h5>
        <p class="tc-para-content para-gap">These Terms and Conditions <b>("Terms")</b> govern your use of <b></b>, owned and operated by <b>[MindShadows]</b>. By accessing or using the Website, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you must not use the Website.</p>

        <h5 class="tc-heading"> 1. Use of the Website:</h5>
        <p class="tc-para-content">
            1.1. The Website is intended for informational and educational purposes related to mental health and wellness. It is not a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or qualified mental health provider with any questions you may have regarding a medical condition.
        </p>
        <p class="tc-para-content para-gap">1.2. You agree to use the Website only for lawful purposes and in a manner consistent with these Terms and all applicable laws and regulations.</p>

        <h5 class="tc-heading">2. Intellectual Property:</h5>
        <p class="tc-para-content">
            2.1. All content, materials, and resources available on the Website, including but not limited to text, graphics, logos, images, audio clips, video clips, data compilations, and software, are the property of <b>[MindShadows]</b> or its licensors and are protected by copyright and other intellectual property laws.
        </p>
        <p class="tc-para-content para-gap">
            2.2. You may not reproduce, distribute, modify, transmit, reuse, repost, or use any content from the Website for commercial purposes without prior written permission from <b>[MindShadows]</b>.
        </p>

        <h5 class="tc-heading"> 3. User Content:</h5>
        <p class="tc-para-content">
            3.1. You may have the opportunity to submit or upload content, including comments, feedback, and testimonials, to the Website <b> ("User Content")</b>. By submitting User Content, you grant <b>[MindShadows] </b> a non-exclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such User Content throughout the world in any media.
        </p>
        <p class="tc-para-content para-gap">
            3.2. You represent and warrant that you own or have the necessary rights, licenses, consents, and permissions to submit User Content and grant the rights described in Section 3.1.
        </p>

        <h5 class="tc-heading"> 4. Privacy Policy:</h5>
        <p class="tc-para-content para-gap">
            4.1. Your use of the Website is subject to the <b>[MindShadows] </b> Privacy Policy, which is incorporated by reference into these Terms. By using the Website, you consent to the collection, use, and disclosure of your personal information as described in the Privacy Policy.
        </p>

        <h5 class="tc-heading"> 5. Limitation of Liability: </h5>
        <p class="tc-para-content para-gap">
            5.1. To the fullest extent permitted by applicable law, <b>[MindShadows] </b>, its affiliates, officers, directors, employees, agents, suppliers, and licensors shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in any way connected with your use of the Website or the content contained therein.
        </p>

        <h5 class="tc-heading">6. Changes to Terms:</h5>
        <p class="tc-para-content para-gap">
            6.1. <b>[MindShadows] </b> reserves the right to modify or revise these Terms at any time without prior notice. By continuing to access or use the Website after any such changes, you agree to be bound by the modified or revised Terms.
        </p>

        <h5 class="tc-heading">  7. Governing Law:</h5>
        <p class="tc-para-content para-gap">
            7.1. These Terms shall be governed by and construed in accordance with the laws of <b> [Constitution of India]</b>, without regard to its conflict of law principles.
        </p>

        <h5 class="tc-heading">8. Contact Information: </h5>
        <p class="tc-para-content para-gap">
            8.1. If you have any questions about these Terms, please contact us at <b>[teammindhadows@email.com] </b> .
        </p>

        <p class="tc-para-content">
            By using the Website, you acknowledge that you have read, understood, and agree to be bound by these Terms.
        </p>
    </div>

</div>
